.header-button-logobtn{
    float: left;  
    // pointer-events: none;  
}

.header-button-logobtn-image{
    width: 120px;
    height: 41px;
    color: #ef2400;
    padding-top: 10%;
    padding-left: 60%;
}
.headericon-whitespace{
    width: 1200px;
    height: 80px;
    background-color: white;
}
