.header-button-btn{
    background-color: #efeb00;
    border-color: #ef2400;
    border:0px solid rgb(247, 243, 244);
    font-weight: bold;
    text-decoration: solid;
    color: rgb(255,255, 255);
    width: 200px;
    height: 70px;
    border-radius: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-button-btn:hover{
    color: rgb(201, 60, 60);
    border:2px solid #0b0811;

}