.header-button-logobtn{
    float: left;  
    border: none; 
    background-color: white;
    cursor: pointer;  
    
}

.header-button-logobtn-image{
    width: 155px;
    height: 50%;
    color: #ef2400;
    padding-top: 13%;
    padding-left: 22%;
}
.headericon-whitespace{
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed !important;
    z-index:1;
}


  .header-a{
    
    cursor: pointer;
    font-size:30px;
  }

  @media only screen and (min-width: 990px) {
  .header-button-hotelier{
    font-size: 100%;
    background-color: white;
    border-color: #00EFAC;
    border:1px solid rgb(71, 69, 69); 
    text-decoration: solid;
    color: rgb(197, 194, 194);
    width: 150px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .header-button-hotelier:hover{
    background-color: rgb(243, 239, 241);
    color:black;
}  
}

@media only screen and (max-width: 990px) {
  .header-button-hotelier{
    display: none;
    background-color: white;
    border-color: #00EFAC;
    border:1px solid rgb(71, 69, 69);
    text-decoration: solid;
    color: rgb(150, 148, 148);
    width: 100%;
    height: 40px;
    border-radius: 40px;
    cursor: pointer; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  }

  .header-button-hotelier:hover{
    background-color: rgb(243, 239, 241);
    color:black;
}

@media only screen and (max-width: 990px) {
  .header-button-hotelier{
    font-size: 100%;
  }
}
    
.hotelier-pading{
  padding-top: 15px; 
  padding-left: 75%;
  width: 10%;
  position: absolute;
  right: 22%;
}
  .header-icon-button{
    border-radius: 50px;
    background: #a2a1a3;
    height: 10px;
    padding-bottom: 3em;
    text-align:right;
    float: right;  
  }

  .icon-button-pading{
    padding-top: 15px;
    padding-left: 600px;
    width: 10%;    
    position: absolute;
    right: 4%;
}
  
.header-box{
  height: 80px;
  border: 1px solid blue;
  box-sizing: border-box;
}


@media only screen and (min-width: 990px) {

  .header-avatraicon-btn{
    border-radius: 50px;
    height: 40px;
    width: 80px;
    background-color: #a2a1a3;
    float: right; 
    cursor: pointer;
    border:0px solid rgb(247, 243, 244);
    border-color: #ef2400;
  }
  
  .header-avatraicon-btn-padding{
    
    padding-right: 50px;
    width: 10%; 
    position: absolute;
    right: 0.5%;
    padding-top: 15px;
    
  }
  .header-avatraicon{
  
    background-color: white;
    font-size: 15px;
    padding:7px;
    border-radius: 50%;
  }
  
  .header-menuicon{
    font-size: 20px;
    color:whitesmoke;
    padding-right: 6px;
    padding-top: 5px;
  }
  
}

@media only screen and (max-width: 990px) {

  .header-avatraicon-btn{
    border-radius: 50px;
    height: 40px;
    width: 80px;
    background-color: #a2a1a3;
    float: right; 
    cursor: pointer;
    
  }
  
  .header-avatraicon-btn-padding{
    display: none;
    padding-right: 50px;
    width: 10%; 
    position: absolute;
    right: 0.5%;
    padding-top: 15px;
    
    
  }
  .header-avatraicon{
  
    background-color: white;
    font-size: 15px;
    padding:7px;
    border-radius: 50%;
  }
  
  .header-menuicon{
    font-size: 20px;
    color:whitesmoke;
    padding-right: 6px;
    padding-top: 5px;
  }
  
}

@media only screen and (max-width: 990px) {
  .header-menuicon-button{
    background-color:white;
    //color: #ef2400;
    float: right; 
    padding-top: 2%;
    padding-right: 3%;
    font-size: 20px;
}

.header-closeoutlined{
  float: right; 
  font-size: 18px;
  color: #00EFAC;
  // margin-right: 3%;
  margin-bottom: 3%;
  
}

.header-sidemenu-padding{
  width: 100%;
  background-color: #ef2400;
  
  height: 80px;
}

.header-signin-btn{
  padding:25px 20px;
  background-color: rgb(247,247,247);
  height: 15%;
  width:auto;
  
}

.header-sign-btn{
  font-size: 16px;
  cursor: pointer; 
  margin-right: 3%;
  margin-left: 5%;
  border: none;
  font-weight: bold;
  background-color:rgb(247,247,247);

  }

  .header-signup-btn{
    font-size: 18px;
    border-radius: 5%;
    cursor: pointer; 
    background-color: #00EFAC;
    border: none;
    color: #f3efef;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 7px 17px;
    
    }
}


@media only screen and (min-width: 990px) {
  .header-menuicon-button{
    border-radius: 50px;
    //color: black;
    display: none;
  }
}