.shere-button-btn{
    background-color: #00EFAC;
    border-color: #00EFAC;
    border:0px solid rgb(247, 243, 244);
    font-weight: bold;
    text-decoration: solid;
    color: rgb(255,255, 255);
    width: 200px;
    height: 70px;
    border-radius: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.shere-button-btn:hover{
    color: rgb(0,0,0);
    border:2px solid #08110e;

}