@media (min-width: 600px) {
  .footer-callout-container {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .footer-callout-container {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100%;
  }
}
.footer-callout-container-title {
  color: #585757;
  margin-bottom: -5px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  max-width: 100%;
}

@media (max-width: 1279px) {
  .footer-callout-container-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (max-width: 1535px) {
  .footer-callout-container-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
.footer-callout-container-p {
  color: #585757;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  max-width: 100%;
  margin-bottom: 2rem;
}

@media (max-width: 1279px) {
  .footer-callout-container-p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
@media (max-width: 1535px) {
  .footer-callout-container-p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
.footer-class-sec {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

@media (min-width: 600px) {
  .footer-input-form {
    flex: 3 1 0%;
    margin-right: 20px;
    width: 300px;
    height: 50px;
    font-size: medium;
    border: 1px solid;
    border-radius: 2px;
    font-family: Poppins, sans-serif;
  }

  .footer-input-form:hover {
    border: 2px solid #000000;
  }
}
@media (max-width: 600px) {
  .footer-input-form {
    flex: 3 1 0%;
    margin-right: 20px;
    width: 250px;
    height: 50px;
    font-size: medium;
    border: 1px solid;
    border-radius: 25px;
    font-family: Poppins, sans-serif;
    margin-bottom: 10px;
  }

  .footer-input-form:hover {
    border: 2px solid #000000;
  }
}
.footer-input-form:placeholder-shown {
  text-overflow: ellipsis;
  padding-left: 10px;
}

@media (min-width: 600px) {
  .footer-button-form {
    flex: 1 1 0%;
    background-color: #03efab;
    height: 55px;
    color: white;
    border: 1px solid transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 120px;
    font-weight: bold;
    text-decoration: solid;
    border-radius: 2px;
    font-size: large;
  }

  .footer-button-form:hover {
    color: black;
    border: 2px solid #000000;
  }
}
@media (max-width: 600px) {
  .footer-button-form {
    line-height: 1.75rem;
    flex: 3 1 0%;
    background-color: #03efab;
    height: 50px;
    color: white;
    border: 1px solid transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 260px;
    font-weight: bold;
    text-decoration: solid;
    border-radius: 25px;
    font-size: large;
    margin-right: 20px;
    margin-top: 10px;
  }

  .footer-button-form:hover {
    color: black;
    border: 2px solid #000000;
  }
}
.footer-middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}

.footer-middle-con-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  grid-gap: 20px;
}
@media (max-width: 1000px) {
  .footer-middle-con-row {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.footer-middle-con-col {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 60px;
}

.footer-col-head {
  font-size: 14px;
  color: #585757;
  margin-bottom: 5px;
  font-weight: 600;
  text-decoration: underline;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0) 1px 1px 1px;
  -webkit-tap-highlight-color: transparent;
}

.footer-col-footlink {
  color: #585757;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0) 1px 1px 1px;
  -webkit-tap-highlight-color: transparent;
}
.footer-col-footlink:hover {
  color: #03efab;
  transition: 200ms ease-in;
}

.footer-bottom-container {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding-bottom: 50px;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .footer-bottom-container {
    display: inline-block;
    margin: 12px;
    text-align: center;
  }
}
.footer-copyright {
  flex: 2 1 0%;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0) 1px 1px 1px;
  -webkit-tap-highlight-color: transparent;
  font-size: 14px;
  font-variant: tabular-nums;
  margin-right: 100px;
  color: #585757;
}

.footer-social-media {
  flex: 2 1 0%;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  color: #585757;
}

@media (max-width: 767px) {
  .footer-social-media {
    display: flex;
    margin: 25px 0px;
  }
}
.footer-slm-icon {
  color: #03efab;
  cursor: pointer;
  margin: 0px 10px;
}

.foo-icons {
  display: inline-block;
  color: inherit;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin-left: 15px;
  font-size: large;
}

.foo-icons:hover {
  color: #ecf0f0;
}

.foo-supp {
  font-size: 9px;
}

::selection {
  color: white;
  background: #03efab;
}

.footer-mobile-container {
  margin-left: -15px;
  margin-right: -15px;
  row-gap: 0px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.footer-mobile-left {
  display: block;
  text-align: left;
  padding-top: 30px;
  font-family: Poppins, sans-serif;
}

@media (min-width: 576px) {
  .footer-mobile-left {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}
.footer-mobile-middle {
  text-align: center;
  align-items: center;
}

@media (min-width: 576px) {
  .footer-mobile-middle {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}
.footer-mobile-right {
  display: block;
  text-align: right;
  padding-top: 30px;
  font-family: Poppins, sans-serif;
}

@media (min-width: 576px) {
  .footer-mobile-right {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}
.footer-lft-important-sec {
  padding: 20px 20px;
  display: flex;
  padding-right: 50px;
}

.footer-lft-important-seco {
  padding: 20px 10px;
  display: flex;
  padding-left: 50px;
}

.footer-lft-important-sec2 {
  padding: 20px 10px;
  display: flex;
  padding-right: 50px;
}

.foo-glblimg {
  background-repeat: no-repeat;
  background-size: contain;
  height: 45px;
  width: 45px;
}

.foo-importance {
  display: grid;
  margin-left: 18px;
}

.foo-glbl-lbl1 {
  font-size: 20px;
  font-weight: 600;
}

.foo-glbl-lbl2 {
  font-size: 14px;
  font-weight: 400;
}

.foo-higr-perfom {
  background-repeat: no-repeat;
  background-size: contain;
  height: 45px;
  width: 45px;
}

.foo-lst-aut-img {
  background-repeat: no-repeat;
  background-size: contain;
  height: 45px;
  width: 45px;
}

.foo-mobl-img {
  max-width: 100%;
  height: 400px;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  align-content: center;
}

.foo-importance-ri {
  display: grid;
  margin-right: 18px;
}

.foo-importance-ri2 {
  display: grid;
  margin-right: 25px;
}

.foo-cal-img {
  background-repeat: no-repeat;
  background-size: contain;
  height: 45px;
  width: 45px;
}

.foo-booking-img {
  background-repeat: no-repeat;
  background-size: contain;
  height: 45px;
  width: 45px;
}

.foo-dedicated-img {
  background-repeat: no-repeat;
  background-size: contain;
  height: 45px;
  width: 45px;
}

.foo-batn-sect {
  padding: 20px 10px;
  display: flex;
  width: 100%;
}

.foo-get-app-btn {
  width: 35%;
  background-position: center center;
}

.foo-app-btn-back {
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center center;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 1.5rem;
  background-color: #03efab;
  margin-bottom: 3px;
  height: 40px;
  width: 145px;
}

.foo-getthe-app {
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: 600;
  margin-bottom: 0px;
  cursor: pointer;
  color: white;
}

.foo-qr-box {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 30px 50px;
}

.foo-qr-brdr {
  box-sizing: border-box;
  display: block;
  max-width: 100%;
}

.foo-qr-img {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 45px;
  height: 45px;
  background-image: url("../../resources/icon/QR.PNG");
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 3px;
  margin-left: 10px;
}

.foo-dwnld-btn {
  width: 35%;
  margin-top: 10px;
}

.foo-appstore-batn {
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center center;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 1.5rem;
  background-color: black;
  width: 125px;
  height: 45px;
  background-image: url("../../resources/icon/AppStoreImg.PNG");
}

.foo-gplay-batn {
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center center;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 1.5rem;
  background-color: black;
  width: 125px;
  height: 45px;
  background-image: url("../../resources/icon/GooglePlayImg.PNG");
}

/*# sourceMappingURL=footer.css.map */
