@media only screen and (min-width: 920px) {
  .home-headerimg {
    width: 100%;
    height: 100vh;
    /* Location of the image */
    background-image: url("../../resources/Image/HeaderImg.jpg");
    background-position: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    margin-bottom: -100px;
    background-repeat: no-repeat;
    background-size: cover !important;
  }
}
@media only screen and (max-width: 920px) {
  .home-headerimg {
    width: 100%;
    height: 100vh;
    /* Location of the image */
    background-image: url("../../resources/Image/HeaderImg.jpg");
    background-position: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    margin-bottom: -100px;
    background-repeat: no-repeat;
    background-size: cover !important;
  }
}
@media only screen and (max-width: 900px) {
  .home-searchbar-mini {
    border-radius: 50px;
    background: white;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 13%;
    width: 70%;
  }

  .home-searchbar-max {
    height: 80px;
    max-height: 50px;
    width: 80vw;
    display: none;
  }

  .home-searchbar-max-row {
    display: flex;
    width: 100%;
    width: 100%;
    padding-left: 10px;
    display: none;
  }

  .home-searchbar-input-text1 {
    display: none;
  }

  .home-searchbar-location-text {
    color: #0b6144;
    font-weight: bold;
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  .home-searchbar-mini {
    border-radius: 50px;
    background: white;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
    height: 100%;
    display: none;
  }

  .home-searchbar-max {
    border-radius: 32px;
    background: white;
    margin-left: -15px;
    margin-right: -15px;
    position: absolute;
    top: 17%;
    left: 17%;
    width: 70%;
    height: 70px;
    display: block;
  }

  .home-searchbar-max-row {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .home-searchbar-input-text1 {
    border: none;
    width: 100%;
    height: 20px;
    outline: 0px;
    font-size: large;
    display: block;
    padding-top: 2;
  }

  .home-searchbar-input-text1::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 2;
  }

  .home-searchbar-location-text {
    color: #0b6144;
    font-weight: bold;
    width: 100%;
    padding-top: 10px;
  }

  .home-searchbar-location-text1 {
    color: #0b6144;
    font-weight: bold;
    width: 100%;
    padding-top: 10px;
    padding-left: 15px;
  }

  .home-searchbar-max-firstdiv {
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
  }

  .home-searchbar-max-firstdiv:hover {
    background-color: #e3e7e7;
  }

  .home-searchbar-max-secondiv {
    width: 50%;
    border-radius: 50px;
  }

  .home-searchbar-max-secondiv:hover {
    background-color: #e3e7e7;
  }

  .home-searchbar-max-thirddiv {
    width: 40%;
    border-radius: 50px;
  }

  .home-searchbar-max-thirddiv:hover {
    background-color: #e3e7e7;
  }

  .home-searchbar-max-thirddiv table {
    margin-left: 20px;
    position: absolute;
  }

  .home-searchbar-icon2 {
    margin-top: 15px;
  }

  .home-searchbar-max-thirddiv-div {
    border-radius: 25px;
    margin-left: 27%;
    margin-top: 1.3%;
    font-size: large;
    width: 45px;
    height: 45px;
    background-color: #28f5b1;
    position: absolute;
  }

  .home-searchbar-max-thirddiv-div:hover {
    background-color: #439472;
  }

  .home-search-vl {
    height: 100%;
    width: 2px;
    background-color: #c7c4c4;
  }
}
@media only screen and (max-width: 1090px) {
  .home-searchbar-max-thirddiv-div {
    border-radius: 25px;
    margin-left: 25%;
    margin-top: 1.3%;
    font-size: large;
    width: 45px;
    height: 45px;
    background-color: #28f5b1;
    position: absolute;
  }
}
@media only screen and (min-width: 900px) {
  .home-searchbar-input-text {
    border: none;
    width: 100%;
    height: 20px;
    outline: 0px;
    font-size: large;
    padding-left: 10px;
  }

  .ant-calendar-picker-input.ant-input {
    border-radius: 0px;
    height: 53px;
    color: aqua;
    color: white;
  }

  .home-searchbar-row {
    display: flex;
    width: 80%;
    height: 100%;
    padding-left: 10px;
  }
}
@media only screen and (max-width: 900px) {
  .home-searchbar-input-text {
    border: none;
    width: 100%;
    height: 18px;
    outline: 0px;
    font-size: medium;
    padding-left: 10px;
  }

  .home-searchbar-icon1 {
    font-size: "16px";
  }

  .home-searchbar-row {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 10px;
  }

  .home-daterange-picker {
    display: flex;
  }

  .ant-picker-panels {
    background-color: aqua;
  }
}

/*# sourceMappingURL=home.css.map */
